<article class="sidebar">
  <h4 class="sidebar-title"><small>Places</small></h1>
  <ul class="sidebar-body">
    <li><small>Born in NC</small></li>
    <li><small>San Diego</small></li>
    <li><small>Chicago</small></li>
    <li><small>Norfolk</small></li>
    <li><small>Jersey</small></li>
  </ul>
</article><!-- article -->
